/* makes a div to span whole visible page */
.background {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
}


/* adds background image in full-size to a div and sets it to be below other divs */
#background-image {
  background-image: url("../assets/AdobeStock_62125649-835x424.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; /* dont need to set background-repeat */
  z-index: -1; /* be under other divs */ 
}

/* adds background color to a div and sets it to be below other divs (even below image) */
#background-color {
  background: #c8caca4d;
  z-index: -2; /* be under background image */
}

/* centers a div in the middle of visible page */
.center {
  position: absolute; /* relative to the nearest positioned ancestor */
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /* centred for dynamic screen size */
}

/* generic container class with padding and edges */
.container {
  background: #aaaaaa;
  margin: 5px;
  padding: 5px 10px;
}

/* generic column flex box */
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* generic row flex box */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* generic margin class */
.margin-5 {
  margin: 5px;
}


/* style for button so they are not ugly :) */
.button {
  border: none;
  padding: 5px 10px;
  align-self: center;
  margin: 10px 5px 0px 5px;
}
/* button be dark on hover */
.button:hover {
  filter: brightness(50%);
}
/* button and div resize for click */
.button:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}

/* self explanatory */
.dotted-border {
  border: #444444 dotted 2px;
}

/* make user notice input is invalid */
input:invalid {
  border: red solid 3px;
}
